//* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{ margin: 0;
 padding: 0;
    box-sizing: border-box;
  }
body {
   background-size: cover;
    background-color: #45b6eb;
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
   
    color: #fff;
    font-size: 1.2vw;
    width: 100%;
    height: auto;
    
   }
  #heading {
    margin: 4rem auto;
    padding: .6rem;
    max-width: 750px;
    
  }
  #main {
      padding: 0% 20% 0% 20%;
  }
  #title {
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
    font-size: 2.2rem;
    
  }
  #description {
      text-align: center;
    padding: .2rem;
    font-size: 1.1rem;
  
  }
  #survey-form {
    padding: 3rem 2.5rem;
    border-radius: 7px;
    background-color: #2222425d;
    
  }
  #submit {
    font-size: 1.15rem;
    cursor: pointer;
    color: #fff;
    padding: .7rem;
    
  }

  #submit:hover {
    background: rgb(9, 168, 89);
  }

.form {
   border-radius: 6px;
  font-size: 1.0rem;
  border: none;
  width: 100%;
  padding: .8rem;
 
}

  @media only screen and (max-width:480px){

  #main {
    padding: 0% 0% 0% 0%;
    }
  }